<!-- Optional additional links to insert for icons links -->
<nav id="sidebar-icon-links">

  <a id="linkedin-link"
    title="LinkedIn" aria-label="LinkedIn"
    target = "_blank"
    href="https://www.linkedin.com/in/andrea-barraza/">
    {% include svg/linkedin.svg %}
  </a>

  <a id="slideshare-link"
      title="Slideshare" aria-label="Slideshare"
      target = "_blank"
      href="http://slideshare.net/apbarraza/">
      {% include svg/slideshare.svg %}
  </a>

  <a id="github-link"
        title="GitHub" aria-label="GitHub"
        target = "_blank"
        href="https://github.com/apbarraza">
        {% include svg/github.svg %}
  </a>
  
</nav>
